body {
    background-color: white;
}

h1 {
    color: black
}

#css span {
    display: none;
}

#css:after {
    font-weight: bold;
    color: green;
    content: 'CSS Support: OK'
}

.valid {
    font-weight: bold;
    color: green;
}

.failed {
    color: red;
}
